<% if current_user.nil? %>

  <div class="row">
    <div class="valign-wrapper">
      <div class="col s12 m8 valign center-block">
        <div class="card-panel grey lighten-4 center-align">
          <p class="card-text"><strong><%=link_to "Get a bike.", new_customer_path %></strong></p>
        </div>
      </div>
    </div>
  </div>

<% elsif current_user.role == "admin" %>
  <%= render "users/admin_dashboard" %>

<% elsif current_user.role == "organizer" %>
  <%= render "users/organizer_dashboard" %>

<% elsif current_user.role == "volunteer" %>
  <%= render "users/volunteer_dashboard" %>

<% end %>
