<div class="container">
  <div class="row">
    <p>Bikes for refugees.</p>
  </div>
  <div class="row">
    <strong>I'd like to...</strong>
  </div>
  <div class="row">
    <div class="col l4">
      <div class="card-panel grey lighten-4">
        <p><%=link_to "Get a bike.", new_customer_path %></p>
      </div>
    </div>
    <div class="col l4">
      <div class="card-panel grey lighten-4">
        <p>Donate a bike.</p>
      </div>
    </div>
    <div class="col l4">
      <div class="card-panel grey lighten-4">
        <p>Help someone build a bike.</p>
      </div>
    </div>
  </div>
</div>
