<h2>Welcome to Rückenwind</h2>
<p>
  We fix used bikes and give them to refugees.
</p>

<strong>I'd like to...</strong>

<div><%=link_to "get a bike.", new_customer_path %></div>
<div>donate a bike.</div>
<div>help build a bike.</div>
