<div class="container">
  <div class="row like">
    <strong>I'd like to...</strong>
  </div>
  <div class="row">
    <div class="col s12 m7 l4">
      <div class="card-panel grey lighten-4">
        <p><%=link_to "Get a bike.", new_customer_path %></p>
      </div>
    </div>
    <div class="col s12 m7 l4">
      <div class="card-panel grey lighten-4">
        <p><%=link_to "Donate a bike.", new_donor_path %></p>
      </div>
    </div>
    <div class="col s12 m7 l4">
      <div class="card-panel grey lighten-4">
        <p><%=link_to "Help someone build a bike.", new_volunteer_path %></p>
      </div>
    </div>
  </div>
</div>
