<div class="row">
    <div class="col s12 m4">
      <div class="card-panel grey lighten-4 center-align">
        <p class="card-text"><strong><%=link_to "Get a bike.", new_customer_path %></strong></p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card-panel grey lighten-4 center-align">
        <p class="card-text"><strong><%=link_to "Donate a bike.", new_donor_path %></strong></p>
      </div>
    </div>
    <div class="col s12 m4">
      <div class="card-panel grey lighten-4 center-align">
        <p class="card-text"><strong><%=link_to "Help someone build a bike.", new_user_registration_path %></strong></p>
      </div>
    </div>
</div>
