<div class="container">
<p>
  We repair used bikes and donate them to refugees. We currently hold workshops
  on Monday and Wednesday afternoons, and occasionally on Saturdays or Sundays.
  You can sign up to receive a bike, donate a bike, or volunteer in one of our
  workshops. You can also support the project by <a href="#">becoming a member</a>
  or contributing <a href="http://rueckenwind.berlin/en/home/?slide=support-us" target="_blank">financially</a>.
</p>
</div>
