<p>
  We are a nonprofit association whose mission is to make refugees in Berlin mobile and offer them a chance to be active.
  This is why we pursue a workshop in Neukölln where refugees repair donated bikes together with our team.
  We support a society in which every person has an equal standing and encourage the solidarity between its various members.
  The workshop is a place where people from different cultures come together and make positive experiences by fixing their own bikes.
</p>
<p>
  We currently hold workshops on Monday and Wednesday afternoons, and occasionally on Saturdays or Sundays. You can sign up to receive a bike, donate a bike, or volunteer in one of our
  workshops. You can also support the project by <a href="#">becoming a member</a>
  or contributing <a href="http://rueckenwind.berlin/en/home/?slide=support-us" target="_blank">financially</a>.
</p>
