<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<div style="background-color:#75b843">
  <%= image_tag attachments['logo.png'].url %>
</div>
<div style="font-family:Roboto">
  <p>Welcome to Rückenwind, <%= @customer.first_name %>.</p>
  <p>To verify your email address and complete your order, please click this link:
     <a href="<%= @url %>"><%= @url %></a></p>
  <p>If you did not create an account, please ignore this email.</p>
  <p>Feel free to <a href="http://rueckenwind.berlin/en/index.php#contact" target="_blank">
    contact us</a> if you have any questions or concerns.</p>
  <p>Sincerely,<br>
    Rückenwind</p>
</div>
