<p>
  Welcome to Rückenwind, <%= @customer.first_name %>.
</p>
<p>
  To confirm your email address, please click this link: <a href="<%= @url %>"><%= @url %></a>
</p>
<p>
  If you did not create an account, please ignore this email.
</p>
