// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.like {
  font-size: 17px;
  padding-left: 20px;
  color: #558b2f;
}

div p {
    font-weight: bold;
    font-size: 20px;
}
